*{
  margin: 0;
  padding: 0%;
  font-family: "Inter";
 background: linear-gradient( to left,#F4D03F,#16A085);
 
}


h1{
  text-align: center;
  font-size: 50px;
  margin-top: 10%;
  color: #293264;

}

h4{text-align: center;
font-size: large;
top: auto;
color: #293264;
}

button{
  display:block;
  margin: auto;
  height: 52px;
width: 193px;
left: 179px;
top: 314px;
border-radius: 15px;
background: #4D5B9E;
color: white;
font-size: medium;
margin-top: 6px;

}

