*{
  margin: 0;
  padding: 0%;
  font-family: "Inter";
 background: linear-gradient( to left,#F4D03F,#16A085);
 
}

h2{
  margin-top: 25px;
  text-align: center;
}
h1{
  text-align: center;
  font-size: 50px;
  margin-top: 10%;
  color: #293264;

}

h4{text-align: center;
font-size: large;
top: auto;
color: #293264;
}

b1{
  display:block;
  margin: auto;
  height: 52px;
width: 193px;
left: 179px;
top: 314px;
border-radius: 15px;
background: #4D5B9E;
color: white;
font-size: medium;
margin-top: 6px;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(37, 14, 243);
}

.options{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap:10px;
}
.options>button{
  height: 52px;
  width: 150px;
  background: #D6DBF5;
  border-radius: 7.94239px;
 
}

hr{
  width: 50%;
  margin: auto;
  margin-top: 25px;
}

.checkall{
 display: block;
 margin: auto;
 width: 200px;
 height: 50px;
 background: #4D5B9E;
color: white;
border-radius:10px;
border-style: none;
margin-top: 20px;
}

button{
  border-style: none;
}
